<div class="relative pb-8">
<img class="vinyl" src="{{ section.settings.image | img_url: 'master' }}"/>

<div class="footer__content-bottom-wrapper page-width footer__content-bottom-wrapper--center">
      <div class="footer__copyright caption">
        <small class="copyright__content">© 2024, <a href="/" title="">Telanthric</a></small>
        <small class="copyright__content"><a target="_blank" rel="nofollow" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Shopify</a></small><ul class="policies list-unstyled"><li>
                  <small class="copyright__content"><a href="/policies/refund-policy">Refund policy</a></small>
                </li><li>
                  <small class="copyright__content"><a href="/policies/terms-of-service">Terms of service</a></small>
                </li><li>
                  <small class="copyright__content"><a href="/policies/privacy-policy">Privacy policy</a></small>
                </li><li>
                  <small class="copyright__content"><a href="/policies/shipping-policy">Shipping policy</a></small>
                </li></ul></div>
    </div>
</div>

<style>
  .vinyl {
width: 100vw;
}
</style>


{% schema %}
  {
    "name": "BG Footer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Default Heading"
      },

      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "BG Footer",
        "category": "Custom"
      }
    ]
  }
{% endschema %}