h1, h2, h3, h4, h5 {
  font-family: 'Hello Roti' !important;
}


:root {
  --color-primary: #A5FA57;
}

body {
  background-color: #000 !important;
  color: var(--color-primary) !important
}
.color-primary {
 color: var(--color-primary) !important
}
.color-black {
  color: black !important
 }
 

.color-primary h1,
.color-primary h2,
.color-primary h3,
.color-primary h4,
.color-primary h5,
.color-primary p, {
  color: var(--color-primary) !important
 }

 h1, .h1 {
  font-size: 45px;
 }

 h3, .h3 {
  font-size: 22px;
  line-height: 100%;
 }

 @media screen and (min-width: 750px) {
  h1, .h1 {
    font-size: 143px;
   }
  
   h3, .h3 {
    font-size: 60px;
   }
 }

 .br {
  border-radius: 20px ;
  -webkit-border-radius: 20px ;
  -moz-border-radius: 20px ;
  -ms-border-radius: 20px ;
  -o-border-radius: 20px ;

}

.bn {
  border: 3px solid #A5FA57;
  box-shadow: 0px 0px 9px 0px #A5FA57;
}

 @media screen and (min-width: 750px) {
  .br {
    border-radius: 40px ;
    -webkit-border-radius: 40px ;
    -moz-border-radius: 40px ;
    -ms-border-radius: 40px ;
    -o-border-radius: 40px ;
    border: 5px solid #A5FA57;
  }
}



.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background: black !important;
  color: var(--color-primary) !important;
  font-family: 'Hello Roti', sans-serif !important;
  font-size: 18px;
  border: 5px solid black
}

.btn:hover {
  background: transparent !important;
  color: black !important;
  border: 5px solid black
}

@media screen and (min-width: 750px) {
.btn {
  font-size: 24px
}
}

.btn.btn--ghost {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background: var(--color-primary) !important;
  color: black !important;
  border: 5px solid var(--color-primary)
}

.btn.btn--ghost:hover {
  background: transparent !important;
  color: var(--color-primary) !important;
  border: 5px solid var(--color-primary)
}


.br-left {

}

.br-top {

}

.cart-count-bubble {
  background: var(--color-primary) !important;
}